<div class="bg-image" 
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">

     <div class="container">
          <div class="d-flex justify-content-center h-100">
               
<div class="successContainer"   *ngIf="this.registerationSuccess">
     <div class="input-group mb-1 justify-content-center">
          <span   class="succes" >{{this.registerationSuccessMessage}}</span>
     <button  type="button" class="btn btn-primary" (click)="redirectToLogin()">OK</button>
     </div>
     
</div>
               <div class="card"   *ngIf="!this.registerationSuccess">
                    <div class="card-header">
                         <h3>Student Registeration Form</h3>
                         
                    </div>
                  
                    <div class="card-body">
                         <form [formGroup]="studentRegisterationForm" (ngSubmit)="onRegister()">
                              <div class="group-gap">
                                   <label for="studentName">Student Name</label>
                                   <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input name="studentName" type="text" class="input form-control" formControlName="studentName" id="studentName" placeholder="Student Name" aria-label="studentName" aria-describedby="basic-addon1" />
                                       
                                         
                                   </div>
                                   <div class="input-group mb-1">
                                   <span class="error" *ngIf="studentRegisterationForm.controls['studentName'].hasError('required') && studentRegisterationForm.controls['studentName'].touched"
                                   >*Required</span>
                                   </div>
                                   <div class="input-group mb-1">
                                      <label for="password">Password</label>
                                      </div>
                                   <div class="input-group mb-3">

                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input #password name="password" type="password"  class="input form-control" id="password" placeholder="Password" formControlName="password" aria-label="password" aria-describedby="basic-addon1" />
                                        <div class="input-group-append">
                                             <span class="input-group-text" (click)="password_show_hide(password)">
                                               <i class="fas fa-eye"  [hidden]="!showPassword" id="show_eye"></i>
                                               <i class="fa fa-eye-slash" [hidden]="showPassword" id="hide-eye"></i>
                                              
                                             </span>
                                           </div>
                                      </div>

                              </div>
                              <div class="input-group mb-1">
                                   <span class="error" *ngIf="studentRegisterationForm.controls['password'].hasError('required') && studentRegisterationForm.controls['password'].touched"
                                   >*Required</span>
                              </div>

                              <div class="input-group mb-1">
                                <label for="studentDepartment">Student Department</label>
                                </div>
                             <div class="input-group mb-3">
                                  <input name="studentDepartment" type="text"  class="input form-control" id="studentDepartment" placeholder="Student Department" formControlName="studentDepartment" aria-label="studentDepartment" aria-describedby="basic-addon1" />
                              
                                </div>

                   
                        <div class="input-group mb-1">
                             <span class="error" *ngIf="studentRegisterationForm.controls['studentDepartment'].hasError('required') && studentRegisterationForm.controls['studentDepartment'].touched"
                             >*Required</span>
                        </div>
                        <div class="input-group mb-1">
                         <span *ngIf="this.registerationUnSuccess" class="error" >{{this.registerationUnSuccessMessage}}</span>
                         </div>
                              <div class="input-group mb-1 justify-content-center">
                                   <div class="row">
                                        <div class="col">
                                             <button class="btn btn-danger form-control  btn-block" routerLink=''>Cancel</button></div>
                                           <div class="col">
                                             <button id="btnSubmit" class="btn btn-primary form-control btn-block"  [disabled]="studentRegisterationForm.invalid" name="passwordUpdate" type="submit" >Register</button></div>
                                    </div>
                           
                        </div>
                         </form>
                    </div>
                    <div class="card-footer">
                         <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; CRS Website 2022</p></div>
                    </div>
               </div>
          </div>
     </div>

    


</div>
