<div>
  
    <div class="table-responsive">
        <table class="table display nowrap">
            <thead>

                <tr>
      
                  <th scope="col">S.No</th>
      
                  <th scope="col">Course ID</th>
      
                  <th scope="col">Mark</th>
                  <th scope="col">Grade</th>

                 
                 

                
    
      
                </tr>
      
              </thead>
      
              <tbody >
                <tr *ngFor='let grades of this.listOfStudentGrades;let i=index' >

                    <th scope="row">{{i+1}}</th>
        
                    <td >{{grades.courseId}}</td>
        
                    <td>{{grades.mark}}</td>
        
                    <td>{{grades.grade}}</td>
                   
            
                 
                 
                  </tr>
        
             
        
                </tbody>
        </table>
      </div>
    
      


</div>

