
.container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 520px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    
    .card-header h3{
    color: white;
    }
    
    label{
        color: white; 
    }
    
    .error{
        color:red;
    }

    .successContainer{
        height: 100px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
       border: grey;
        }