

<div class="bg-image" 
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">

     <div class="container">
          <div class="d-flex justify-content-center h-100">
               <div class="successContainer"   *ngIf="this.passwordUpdateSuccess">
                    <div class="input-group mb-1 justify-content-center">
                         <span   class="succes" >{{this.passwordUpdateSuccessMessage}}</span>
                    <button  type="button" class="btn btn-primary" (click)="redirectToLogin()">OK</button>
                    </div>
                    
               </div>
               <div class="card" *ngIf="!this.passwordUpdateSuccess">
                    <div class="card-header">
                         <h3>Password Update Form</h3>
                         
                    </div>

                    <div class="card-body">
                         <form [formGroup]="passwordUpdateForm" (ngSubmit)="onUpdate()">
                              <div class="group-gap">
                                   <label for="userId">User ID</label>
                                   <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input name="userId" type="text" class="input form-control" formControlName="userId" id="userId" placeholder="User ID" aria-label="userId" aria-describedby="basic-addon1" />
                                       
                                         
                                   </div>
                                   <div class="input-group mb-1">
                                   <span class="error" *ngIf="passwordUpdateForm.controls['userId'].hasError('required') && passwordUpdateForm.controls['userId'].touched"
                                   >*Required</span>
                                   </div>
                                   <div class="input-group mb-1">
                                      <label for="oldPassword">Old Password</label>
                                      </div>
                                   <div class="input-group mb-3">

                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input #oldPassword name="oldPassword" type="password"  class="input form-control" id="oldPassword" placeholder="Old Password" formControlName="oldPassword" aria-label="oldPassword" aria-describedby="basic-addon1" />
                                        <div class="input-group-append">
                                             <span class="input-group-text" (click)="old_password_show_hide(oldPassword)">
                                               <i class="fas fa-eye"  [hidden]="!showOldPassword" id="show_eye"></i>
                                               <i class="fa fa-eye-slash" [hidden]="showOldPassword" id="hide-eye"></i>
                                              
                                             </span>
                                           </div>
                                      </div>

                              </div>
                              <div class="input-group mb-1">
                                   <span class="error" *ngIf="passwordUpdateForm.controls['oldPassword'].hasError('required') && passwordUpdateForm.controls['oldPassword'].touched"
                                   >*Required</span>
                              </div>

                              <div class="input-group mb-1">
                                <label for="newPassword">New Password</label>
                                </div>
                             <div class="input-group mb-3">

                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                  </div>
                                  <input #newPassword name="newPassword" type="password"  class="input form-control" id="newPassword" placeholder="New Password" formControlName="newPassword" aria-label="newPassword" aria-describedby="basic-addon1" />
                                  <div class="input-group-append">
                                   <span class="input-group-text" (click)="new_password_show_hide(newPassword)">
                                     <i class="fas fa-eye"  [hidden]="!showNewPassword" id="show_eye"></i>
                                     <i class="fa fa-eye-slash" [hidden]="showNewPassword" id="hide-eye"></i>
                                    
                                   </span>
                                 </div>
                                </div>

                   
                        <div class="input-group mb-1">
                             <span class="error" *ngIf="passwordUpdateForm.controls['newPassword'].hasError('required') && passwordUpdateForm.controls['newPassword'].touched"
                             >*Required</span>
                        </div>
                        <div class="input-group mb-1">
                         <span *ngIf="this.passwordUpdateUnSuccess" class="error" >{{this.passwordUpdateUnSuccessMessage}}</span>
                         </div>  
                              <div class="input-group mb-1 justify-content-center">
                                   <div class="row">
                                        <div class="col">
                                             <button class="btn btn-danger form-control  btn-block" routerLink=''>Cancel</button></div>
                                           <div class="col">
                                             <button id="btnSubmit" class="btn btn-primary form-control btn-block"  [disabled]="passwordUpdateForm.invalid" name="passwordUpdate" type="submit" >Update</button></div>
                                    </div>
                           
                        </div>
                         </form>
                    </div>
                    <div class="card-footer">
                         <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; CRS Website 2022</p></div>
                    </div>
               </div>
          </div>
     </div>

</div>

<router-outlet></router-outlet>